*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea
.tox/
/pyex
/respa-exchange.cfg
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
eggs/
env/
ENV/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
